<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion Demo - Resonance</title>
    <link rel="stylesheet" href="../../assets/style/global.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <a href="../../index.html" class="back-link">
        <img src="../../assets/images/logo.svg" alt="Resonance Logo" />
      </a>
    </header>
    <main>
      <div class="section">
      <h1>Accordion Demo</h1>
      <div class="accordion">
        <div class="accordion__item">
          <h3>
            <button
              class="accordion-trigger"
              aria-expanded="false"
              aria-controls="panel1"
              id="accordion1"
            >
              Section 1
            </button>
          </h3>
          <div id="panel1" role="region" aria-labelledby="accordion1" hidden>
            <p>Content for section 1.</p>
          </div>
        </div>

        <div class="accordion__item">
          <h3>
            <button
              class="accordion-trigger"
              aria-expanded="false"
              aria-controls="panel2"
              id="accordion2"
            >
              Section 2
            </button>
          </h3>
          <div id="panel2" role="region" aria-labelledby="accordion2" hidden>
            <p>Content for section 2.</p>
          </div>
        </div>

        <!-- Add more sections as needed -->
      </div>
      </div>

      <div class="section">
        <h2>Resources</h2>
        <ul class="btn-group">
          <li><a class="btn btn-primary" href="../../index.html">Back to Home</a></li>
          <li><a class="btn btn-primary" href="../../components/autocomplete/index.html">Next: Autocomplete</a></li>
          <li>
            <a  class="btn btn-secondary"
              href="https://github.com/HectorOsborneRodriguez/resonance_code_demo"
              >GitHub Code</a
            >
          </li>
        </ul>
      </div>
    </main>

    <footer>
      <p>&copy; Accenture - Resonance</p>
    </footer>
    <script src="accordion.js"></script>
  </body>
</html>
