<nav class="mega" aria-label="Primary">
  <ul class="mega__main">
    <li class="mega__item">
      <button type="button" class="mega__btn" aria-expanded="false" aria-controls="mega-navigation-submenu-1">Products</button>
      <ul id="mega-navigation-submenu-1" class="mega__submenu" hidden>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Enterprise</a></li>
      </ul>
    </li>
    <li class="mega__item">
      <button type="button" class="mega__btn" aria-expanded="false" aria-controls="mega-navigation-submenu-2">Solutions</button>
      <ul id="mega-navigation-submenu-2" class="mega__submenu" hidden>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Design systems</a></li>
        <li><a href="#">Analytics</a></li>
      </ul>
    </li>
    <li class="mega__item"><a class="mega__link" href="#">Support</a></li>
  </ul>
</nav>
