<!--
  Component-only reference
  Conforms to:
    - components/radio-button/radio-button.md
    - components/radio-button/radio-button.tc.md
-->

<fieldset class="radio">
  <legend>Select your pizza size</legend>
  <div class="radio__option">
    <input type="radio" id="radio-xl" name="pizza-size" value="extra-large" checked aria-describedby="hint-xl" />
    <div>
      <label for="radio-xl">Extra Large</label>
      <span class="radio__hint" id="hint-xl">Serves 8 people</span>
    </div>
  </div>
  <div class="radio__option">
    <input type="radio" id="radio-lg" name="pizza-size" value="large" aria-describedby="hint-lg" />
    <div>
      <label for="radio-lg">Large</label>
      <span class="radio__hint" id="hint-lg">Serves 6 people</span>
    </div>
  </div>
  <div class="radio__option">
    <input type="radio" id="radio-md" name="pizza-size" value="medium" aria-describedby="hint-md" />
    <div>
      <label for="radio-md">Medium</label>
      <span class="radio__hint" id="hint-md">Serves 4 people</span>
    </div>
  </div>
  <div class="radio__option">
    <input type="radio" id="radio-sm" name="pizza-size" value="small" aria-describedby="hint-sm" />
    <div>
      <label for="radio-sm">Small</label>
      <span class="radio__hint" id="hint-sm">Serves 1 person</span>
    </div>
  </div>
</fieldset>
