<fieldset class="radio">
  <legend>Choose a fruit</legend>
  <div>
    <input type="radio" id="radio-button-apple" name="radio-button-fruit" value="apple" checked />
    <label for="radio-button-apple">Apple</label>
  </div>
  <div>
    <input type="radio" id="radio-button-banana" name="radio-button-fruit" value="banana" />
    <label for="radio-button-banana">Banana</label>
  </div>
  <div>
    <input type="radio" id="radio-button-cherry" name="radio-button-fruit" value="cherry" />
    <label for="radio-button-cherry">Cherry</label>
  </div>
</fieldset>
